@import '../../scss/base.scss';

:host {
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include media($breakpoint-phone) {
        display: none;
    }

    & button {
        font-size: 1.25rem;
        // color: #fff;

        &.active {
            display: none;
        }
    }
}

.name { 
    // color: #fff;
    @include media($breakpoint-phone) {
        font-size: 1.25rem;
    }
 }

.menu {
    display: none;
    @include media($breakpoint-phone) {
        display: block;
    }
}

menu-icon {
    color: #fff;
}