<app-header></app-header>

<section color="primary-900">
  <h4 class="title">Contact Me</h4>

  <div class="image"></div>

  <div class="social">
    <div class="linkedin">
      <mat-icon svgIcon="linkedin-box"></mat-icon>
    </div>

    <div class="Github">
      <mat-icon svgIcon="github-circle"></mat-icon>
    </div>

    <div class="Twitter">
      <mat-icon svgIcon="twitter"></mat-icon>
    </div>
  </div>

  <div class="form">
    <app-custom-input >
      <mat-form-field>
        <input type="text" matInput/>
      </mat-form-field>
    </app-custom-input>
  </div>
</section>