<app-header></app-header>

<div class="content">
  <section class="greeting">
    <svg class="backround greeting__background" preserveAspectRatio="none" viewBox="0 0 1000 1000">
     
      <image class="bkg-image background__bkg-image" 
             preserveAspectRatio="none" 
             xlink:href="https://firebasestorage.googleapis.com/v0/b/op-7f877.appspot.com/o/portfolio2%2F37426823_10212355082933086_2951743310995128320_n.jpg?alt=media&token=f308deed-5208-4c59-8bbf-2684619c784b" 
             />
      <rect class="filter background__filter" x="0" y="0" height="1000" width="1000"/>
    </svg>
    <div class="text-overlay greeting__text-overlay">
      <h1 class="headline text-overlay__headline">Hi, I'm Thomas!</h1>
      <h4 class="blerb text-overlay__blerb">I am a web developer living in La Crosse, WI. <br>I have a passion for
        problem solving, good coffee, and creating clean, functional code. </h4>
    </div>
  </section>

  <section class="about">

    
  </section>

  <section class="actions"></section>
</div>