@import '../../../scss//base.scss';

.content {
    height: calc(100vh - 4.3475rem);
    overflow-y: auto;

    @include media($breakpoint-phone) {
      overflow-x: hidden;
    }
}

.greeting {
    position: relative;
    height: 75vh;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 75vh;
        width: 100%;
        z-index: 10;
    }

    &__text-overlay {
        position: relative;
        height: 100%;
        z-index: 11;
    }
}

.background {
    &__filter {
        x: 0;
        y: 0;
        width: 1000px;
        height: 1000px;

        fill: rgba($color: #000000, $alpha: 0.60)
    }

    &__bkg-image {
        x: 0;
        y: 0;
        height: 1000px;
        width: 1000px;

        @include media($breakpoint-phone) {
            x: -400;
            y: 0;
            height: 1000px;
            width: 2000px
        }
    }
}

.text-overlay {
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__headline {
        @include media($breakpoint-tablet) {
            font-size: 4.5rem;
        }

        @include media($breakpoint-phone) {
            font-size: 3rem;
        }
    }

    &__blerb {
        text-align: center;
        margin: 0 14rem;

        @include media($breakpoint-project-grid) {
            margin: 0 3rem;
        }

        @include media($breakpoint-tablet) {
            font-size: 1.75rem;
        }

        @include media($breakpoint-phone) {
            font-size: 1.125rem;
            margin: 0 1.25rem
        }
    }
}

.about {
    margin: 1rem auto;
    max-width: 50rem;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1.25rem auto 1.25rem auto 1.25rem auto;

    &__intro {
        grid-column: 1/3;
        grid-row: 1;
    }

    &__interests {
        grid-column: 1;
        grid-row: 3
    }

    &__skills {
        grid-column: 2;
        grid-row: 3;

        width: 100%;
        height: 100%;
    }

    &__overview {
        grid-column: 1/3;
        grid-row: 5;
    }

    @include media($breakpoint-project-grid) {
        margin: 1rem 1.5rem;
        grid-template-columns: 100%;
        //grid-template-rows: auto 1.25rem auto 1.25rem auto 1.25rem auto 1.25rem auto;
        grid-template-rows: repeat(4, auto 1.25rem);

        &__intro {
          grid-column: 1;
          grid-row: 1;
      }
  
      &__interests {
          grid-column: 1;
          grid-row: 3
      }
  
      &__skills {
          grid-column: 1;
          grid-row: 5;
  
          width: 100%;
          height: 100%;
      }
  
      &__overview {
          grid-column: 1;
          grid-row: 7;
      }
    }

    @include media ($breakpoint-phone) {
        margin: 1.5rem;
    }

}

.intro {
    &__header {
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.25rem;
    }
}

.interests {
    & p {
        margin-bottom: 0.5rem;
    }
}

.details {
    height: 18rem;
    position: relative;

    &__overview {
        position: relative;
        z-index: 11;
    }

    &__tree {
        position: absolute;
        z-index: 10;

        top: 0;
        left: 0;
        right: 0;

        & figure svg {
            width: 18rem;
        }

        @include media($breakpoint-project-grid) {
          top: 2.5rem;
        }
    }
}

.skills svg {
  height: 12.5rem;
  width: 25rem;

  rect {
    fill: rgba(0, 0, 255, 0.75);
  }
  
  text {
    font: normal 65px sans-serif;
  }
  
  text.axis-label {
    fill: green;
  }
  
  text.data-label {
    fill: #fff;
    writing-mode: tb;
  }
}

.overview {
    display: grid;
    grid-template-columns: 21.875rem 6.25rem 21.875rem;
    grid-template-rows: 2rem 1fr;

    &__header {
        grid-column: 1/4;
        grid-row: 1;
        margin: auto 0;
    }

    &__work {
        grid-column: 1;
        grid-row: 2;
    }

    &__play {
        grid-column: 3;
        grid-row: 2;
    }

    @include media($breakpoint-project-grid) {
      grid-template-columns: 45% 10% 45%;
      grid-template-rows: 3rem 1fr;

      background-color: rgba($color: #fff, $alpha: 0.5);


      &__header {
        grid-column: 1/4;
        grid-row: 1;

        margin: 1rem 0;
      }
    }
    
}

.work {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & h6, p {
        background-color: rgba(250, 250, 250, 0.85);
    }

    & p {
        margin-bottom: 1rem;
        text-align: end;
    }

    @include media($breakpoint-phone) {
      & h6 {
        font-size: 1rem;
      }

      & p {
        font-size: 0.65rem;
      }
    }
}

.play {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & h6, p {
        background-color: rgba(250, 250, 250, 0.85);
    }

    & p {
        margin-bottom: 1rem;
    }

    @include media($breakpoint-phone) {
      & h6 {
        font-size: 1rem;
      }

      & p {
        font-size: 0.65rem;
      }
    }
}

.actions {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 2rem 0.25rem 2rem;

    margin: 2rem auto;
    max-width: 50rem;

    & .work-name { 
        grid-column: 1;
        grid-row: 1;
    }

    & .working-btn {
        grid-column: 2;
        grid-row: 1;
    }

    & .contact-name {
        grid-column: 1;
        grid-row: 3;
    }

    & .contact-btn {
        grid-column: 2;
        grid-row: 3;
    }

    @include media($breakpoint-phone) {
      margin: 2rem 1rem;
      grid-template-rows: 2rem 2rem 3rem 2rem;
      grid-template-columns: 50% 50%;

      & .work-name { 
        grid-column: 1/3;
        grid-row: 1;
      }

      & .working-btn {
          grid-column: 1;
          grid-row: 2;
      }

      & .contact-name {
          margin-top: 1rem;
          grid-column: 1/3;
          grid-row: 3;
      }

      & .contact-btn {
          grid-column: 1;
          grid-row: 4;
      }
    }

}