@import '../../../scss//base.scss';

.content {
    height: calc(100vh - 4.3475rem);
    overflow-x: auto;
}

.greeting {
    position: relative;
    height: 75vh;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 75vh;
        width: 100%;
        z-index: 10;
    }

    &__text-overlay {
        position: relative;
        height: 100%;
        z-index: 11;
    }
}

.background {
    &__filter {
        x: 0;
        y: 0;
        width: 1000px;
        height: 1000px;

        fill: rgba($color: #000000, $alpha: 0.60)
    }

    &__bkg-image {
        x: 0;
        y: 0;
        height: 1000px;
        width: 1000px;

        @include media($breakpoint-phone) {
            x: -400;
            y: 0;
            height: 1000px;
            width: 2000px
        }
    }
}

.text-overlay {
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__headline {
        @include media($breakpoint-tablet) {
            font-size: 4.5rem;
        }

        @include media($breakpoint-phone) {
            font-size: 3rem;
        }
    }

    &__blerb {
        text-align: center;
        margin: 0 14rem;

        @include media($breakpoint-project-grid) {
            margin: 0 3rem;
        }

        @include media($breakpoint-tablet) {
            font-size: 1.75rem;
        }

        @include media($breakpoint-phone) {
            font-size: 1.125rem;
            margin: 0 1.25rem
        }
    }
}

.about {
    margin: 1rem auto;
    max-width: 50rem;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1.25rem auto 1.25rem auto 1.25rem auto;

    &__intro {
        grid-column: 1/3;
        grid-row: 1;
    }

    &__interests {
        grid-column: 1;
        grid-row: 3
    }

    &__skills {
        grid-column: 2;
        grid-row: 3;
    }

    &__overview {
        grid-column: 1/3;
        grid-row: 4;
    }

    @include media($breakpoint-project-grid) {
        grid-template-columns: 100%;
        grid-template-rows: auto 1.25rem auto 1.25rem auto 1.25rem auto 1.25rem auto;
    }

}

.intro {
    &__header {
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.25rem;
    }
}

.interests {
    
}