@mixin material-app($theme) {
    @include h4-theme($theme);
    @include h5-theme($theme);
    @include h6-theme($theme);
    @include p-theme($theme);
    @include app-header-theme($theme);

    @include app-base-theme($theme);
}

@mixin p-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    p[color="primary"] {
        color: mat-color($primary, 900);
    }

    p[color="accent"] {
        color: mat-color($accent, 600);
    }

    p[color="warn"] {
        color: mat-color($warn);
    }
}

@mixin h4-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    h4[color="primary"] {
        color: mat-color($primary, 900);
    }

    h4[color="accent"] {
        color: mat-color($accent, 600);
    }

    h4[color="warn"] {
        color: mat-color($warn);
    }
}

@mixin h5-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    h5[color="primary"] {
        color: mat-color($primary, 900);
    }

    h5[color="primary-dark"] {
        color: mat-color($primary, 900);
    }

    h5[color="accent"] {
        color: mat-color($accent, 600);
    }

    h5[color="warn"] {
        color: mat-color($warn);
    }
}

@mixin h6-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    h6[color="primary"] {
        color: mat-color($primary);
    }

    h6[color="primary-dark"] {
        color: mat-color($primary, 900);
    }

    h6[color="accent"] {
        color: mat-color($accent, 600);
    }

    h6[color="warn"] {
        color: mat-color($warn);
    }
}

@mixin app-header-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-header {
        background-color: mat-color($primary);

        & h4 {
            color: #fff;
        }

        & .nav button {
            color: #fff;
        }

        & .menu {
            color: #fff;
        }
    }
}

@mixin app-base-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-base section {
        background-color: #fff;

        &[color="primary"] {
            background-color: mat-color($primary);
        }

        &[color="primary-900"] {
            background-color: mat-color($primary, 900);
        }

        &[color="accent"] {
            background-color: mat-color($accent);
        }

    }
}

@mixin app-custom-input($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-custom-input {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2rem 2rem;

        &.input {
            grid-column: 1/3;
            grid-row: 2;
        }

        & label {
            color: #fff;
            grid-column: 1;
            grid-row: 1;
        }

        & .required {
            color: mat-color($accent, 800);
            grid-column: 2;
            grid-row: 1;
        }
    }
}

@mixin mat-button-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    button {
        &.mat-primary {
            background-color: mat-color($primary, 700);
            color: #fff;
        }

        &.mat-accent {
            background-color: mat-color($accent, 700);
            color: #fff
        }

        &.mat-warn {
            background-color: mat-color($warn);
            color: #fff;
        }

        &.mat-transparent {
            background: transparent;
            color: #fff;
        }
    }

    
}