@mixin material-app($theme) {
    @include app-header-theme($theme);
}


@mixin app-header-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-header {
        background-color: mat-color($primary);

        & h4 {
            color: #fff;
        }

        & .nav button {
            color: #fff
        }
    }
}